*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
overflow-x: hidden;
}
body
{
    padding-top: 50px;
    overflow-x: hidden;
  max-width: 100%;
  height: auto;
  background: url(/istock/scattered-forcefields.svg);
  /* background: whitesmoke; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* navbar */
.navbar
 {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2%;
    position: fixed;
    top: 0;
    z-index: 999;
    background:whitesmoke;
    /* border: 1px solid black; */
 }
 
 .logo-name
 {
  font-family: cursive;
  font-weight: 550;
  color: purple;
  width: 300px;
  height: 35px;
  border: 2px solid purple;
  padding: 0px 2%;
  border-top-color:orangered ;
  border-right-color:blue ;
  border-bottom-color: yellowgreen;
  border-bottom-width: 5px;
 }
 #favicon2
 {
  width: 25px;
 }
 .navlinks
 {
    width: 40%;
    height: 100%;
 }
 .navlinks ul 
 {
   width: 100%;
   height: 100%;
    display: flex;
   align-items: center;
   justify-content: space-evenly;
   list-style-type: none;
 }
 .navlinks ul a
 {
    text-decoration: none;
    color: grey;
    font-weight: 600;
 }
 .navlinks ul a:hover
{
    text-decoration: underline;
   text-underline-offset: 8px;
   text-decoration-thickness: 3px;
   text-decoration-color: purple;
   color: black;
}
 .navsearch
 {
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid orangered;
    border-radius: 20px;
 }
 #search
 {
    width: 85%;
    height: 20px;
   border:none ;
   font-size: .9rem;
   background: transparent;
 }
 #search:focus
{
    outline: burlywood;
}

#seek
{
  width: 20px;
}

/* main */
.about-us
{
  width: 100dvw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us h1
{
  text-align: center;
  color: purple;
  text-decoration: underline;
  margin: 20px 0;
}
.about-us section
{
  border: 1px solid blue;
  height: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1%;
}

 .about-us section p
 {font-size: 1.05rem;
  width: 35%;
  background: white;
  font-weight: 450;
 }
.about-us section img
{
  width: 35%;
}

.rev
{
  flex-direction: row-reverse;
}




/* footer */
.final
{
  height: 55vh;
  display: grid;
  grid-template-columns: auto ;
  /* border: 1px solid yellow; */
  background-color: #141728;
}
 
.foot
{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.left_foot
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
  background-color: #141728;
  border: none;
}

.left_foot section
{
    height: auto;
    width: 100%;
    border: 1px solid grey;
    display: flex;
   align-items: center;
    margin-bottom: 3%;
    justify-content: flex-start;
    padding:2%;
    background: grey;
}

.left_foot  p
{
    text-align: left;
    font-size: 1rem;
    margin-left: 10%;
    color:black;
}

.left_foot h2
{
    text-align: center;
    color: purple;
    margin-bottom: 3%;
    text-decoration: underline;
}
 
.left_foot img
{
    width: 50px;
    color: blue;
}

.left_foot section:hover
{
    transform: translate(3px,3px);
    background: whitesmoke;
    color: black;
}

.left_foot section:hover p
{
  color: black;
}
.foot section ul
{
  list-style-type: none;
}

.lin
{
  padding: 1% 10% ;
}

.foot section h2
{
  text-decoration: underline;
  font-size: 1.2rem;
  color: orange;
  margin-top: 3%;
  margin-bottom: 3%;
  
}
.foot section a
{
  text-decoration: none;
  color: grey;
  font-size: 1rem;
  font-weight: 400;
}

.foot section a:hover
{
  color: white;
  text-decoration: underline;
}
.last_foot
{
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
  color: white;
}


.last_foot  a
{
  text-decoration: none;
  color: grey;
  font-weight: bolder;
}

.last_foot a:hover
{
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

@media (max-width:900px)
{
  .navsearch,.navlinks
  {
    display:none;
  }
  main
  {
    height: auto;
  }
  .about-us section
  {
    height: auto;
    width: 100%;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: transparent;
  }
  .about-us section p
  {
    width: 90%;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
  }
  .about-us section img
  {
    width: 70%;
    margin-bottom: 20px;
  }
  
  .final
  {
    height: 70dvh;
    padding-top: 10%;
  }
  .foot
  {
    overflow: auto;
  }
  
  .lin
  {
    width: 200px;
  }
  
  .last_foot
  {
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
  }
}