*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
  overflow-x: hidden;
}
body
{
    width: 100dvw;
    height: auto;
    padding-top: 50px;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background: linear-gradient(10deg,aliceblue,lightskyblue,whitesmoke); */
}
.container
{
    width: 100%;
    height: 100%;
}

/* navbar */

.navbar
 {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2%;
    position: fixed;
    top: 0;
    z-index: 999;
    background:whitesmoke;
    /* border: 1px solid black; */
 }
 
 .logo-name
 {
  font-family: cursive;
  font-weight: 550;
  color: purple;
  width: 300px;
  height: 35px;
  border: 2px solid purple;
  padding: 0px 2%;
  border-top-color:orangered ;
  border-right-color:blue ;
  border-bottom-color: yellowgreen;
  border-bottom-width: 5px;
 }
 #favicon2
 {
  width: 25px;
 }
 .navlinks
 {
    width: 40%;
    height: 100%;
 }
 .navlinks ul 
 {
   width: 100%;
   height: 100%;
    display: flex;
   align-items: center;
   justify-content: space-evenly;
   list-style-type: none;
 }
 .navlinks ul a
 {
    text-decoration: none;
    color: grey;
    font-weight: 600;
 }
 .navlinks ul a:hover
{
    text-decoration: underline;
   text-underline-offset: 8px;
   text-decoration-thickness: 3px;
   text-decoration-color: purple;
   color: black;
}
 .navsearch
 {
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid orangered;
    border-radius: 20px;
 }
 #search
 {
    width: 85%;
    height: 20px;
   border:none ;
   font-size: .9rem;
   background: transparent;
 }
 #search:focus
{
    outline: burlywood;
}

#seek
{
  width: 20px;
}


/* main */
main {
  max-width: 100dvw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.product
{
  width: 70dvw;
  height: 50dvh;
  display: grid;
  grid-template-columns: auto auto;
  padding: 0px 10%;
  border: 1px solid whitesmoke;
  margin-top: 2%;
  overflow: hidden;
  background-color: whitesmoke;
  border-radius: 5px;
}

.product-image
{
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.product-image img {
  max-width: 100%;
  height: auto;
}

.product-details {
  flex-basis: 60%;
  padding-left: 20px;
}

.product-details h1 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1%;
  color: purple;
  font-weight: 500;
}

.product-details .product-price {
  font-size: 24px;
  margin: 0;
  margin-bottom: 1%;
  color: orange;
}


.product-details .product-description {
  margin: 0;
  margin-bottom: 2%;
}

.product-options {
  margin-bottom: 5%;
}

.product-options label {
  margin-right: 2%;
}

.product-options select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.product-actions {
  display: flex;
}

.product-actions button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #cc0000;
  color: #fff;
  margin-right: 10px;
}

.product-actions button:last-child {
  margin-right: 0;
}

.product-actions button:hover {
  cursor: pointer;
  opacity: 0.8;
}




/* footer */
.final
{
  height: 55vh;
  display: grid;
  grid-template-columns: auto ;
  background-color: #141728;
 
}
 
.foot
{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.left_foot
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    border: none;
    background: transparent;
}

.left_foot section
{
    height: 9vh;
    width: 90%;
    border: 1px solid grey;
    display: flex;
   align-items: center;
    margin-bottom: 3%;
    justify-content: flex-start;
    padding:2%;
    background: grey;
}

.left_foot  p
{
    text-align: left;
    font-size: 1rem;
    margin-left: 10%;
    color:black;
}

 
.left_foot img
{
    width: 50px;
    color: blue;
}

.left_foot section:hover
{
    transform: translate(3px,3px);
    background: whitesmoke;
    color: black;
}

.left_foot section:hover p
{
  color: black;
}
.foot section ul
{
  list-style-type: none;
}

.lin
{
  padding: 1% 10% ;
}

.foot section h2
{
  text-decoration: underline;
  font-size: 1.3rem;
  color: orange;
  margin-top: 1%;
  margin-bottom: 1%;
  
}
.foot section a
{
  text-decoration: none;
  color: grey;
  font-size: 1rem;
  font-weight: 400;
}

.foot section a:hover
{
  color: white;
  text-decoration: underline;
}
.last_foot
{
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
  color: white;
}


.last_foot  a
{
  text-decoration: none;
  color: grey;
  font-weight: bolder;
}

.last_foot a:hover
{
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

@media (max-width:600px)
{
  .navlinks,.navsearch
  {
    display: none;
  }
  
  .product
  {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2% 3%;
    /* align-items: center; */
  }
  .product-details {
    flex-basis: 100%;
    width: 100%;
    padding: 0;
  }
  
  .product-image
  {
    height: 90%;
    width: 90%;
  }
  
  .product-image img
  {
    width: 80%;
    /* height: 100%; */
  }
  
  
  
  .final
  {
    height: 70dvh;
    padding-top: 10%;
  }
  .foot
  {
    overflow: auto;
  }
  
  .lin
  {
    width: 200px;
  }
  
  .last_foot
  {
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
  }
}